body {
width: 100%; 
margin: 0; 
padding: 0;
}
.page-header {
display:none;
}
.adsense {
display:none;
}
.sidebar {
float:none !important;
width:100% !important;
}
.content {
margin-left:1px !important;
}